body {
    background-color: #2b4d59;
}

header{
    text-align: center;
    color: white;
    background: rgb(57,153,142);
    background: radial-gradient(circle, rgba(57,153,142,1) 13%, rgba(255,220,124,1) 46%, rgba(255,170,103,1) 62%);
    font-family: 'Fredoka One', cursive;
}

header a {
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
main {
    font-family: 'Montserrat', sans-serif;
}

.card.one {
    background-color: rgba(57,153,142,1);
}
.card.two {
    background-color: #ffdc7c;
}
.card.three {
    background-color: #ffaa67;
}
.card.four {
    background-color: #da674a;
}

.card{
    color: white;
    text-shadow: 0px 0px 2px #2b4d59;
}
.card a {
    background-color: white;
    color: rgb(57,153,142);
}

.modal {
    color: black;
}

.side_button {
    background-color: white;
    text-align: center;
    color: #2b4d59;
}

figure{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: small;
    text-align: center;
}

.quiz {
    background-color:#2b4d59 ;
    color: #ffaa67;
}

.quiz li {
    background-color:#2b4d59 ;
    color: #ffaa67;
}

.quiz button {
    background-color: #ffaa67;
    color: #2b4d59;
}

.docImg {
    background-color: #2b4d59;
}

.hide1, .hide2, .hide3, .hide4 {
    display: none;
}